h2="Form"
form(method="POST" action="./products")
	label(for="name") name: 
	input(type="text" name="name" id="name")  
	label(for="price") price: 
	input(type="text" name="price" id="price")  
	label(for="imgUrl") img url: 
	input(type="imgUrl" name="imgUrl" id="imgUrl")  
	button(type="submit") Add Product
