form(method="POST" action="./products")
	label(for="name") name: 
	input(type="text" name="name" id="name")  
	label(for="price") price: 
	input(type="text" name="price" id="price")  
	button(type="submit") Add Product
