h2(class="mt-4")="Form"
form(method="POST" action="./products")
	label(for="name" class="form-label mt-2") Name: 
	input(type="text" name="name" class="form-control" id="name")  
	label(for="price" class="form-label mt-2") Price: 
	input(type="text" name="price" class="form-control" id="price")  
	label(for="imgUrl" class="form-label mt-2") Img Url: 
	input(type="text" name="imgUrl" class="form-control" id="imgUrl")  
	button(type="submit" class="btn btn-primary mt-3") Add Product
