<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<title>Document</title>
	</head>
	<body>
		<h1>MAIN WORKS</h1>
		<nav>
			<p>
				<a href="products">PRODUCTS</a>
			</p>
			<p>
				<a href="form">FORM</a>
			</p>
		</nav>
		<% if(data.form) {%>
			<%- include("form") %>
		<% } %>
		<% if(data.productTable) {%>
			<%- include("productTable", {data: data})%>
		<% }%>
	</body>
</html>
